body {
    background-image: url('OIP.jpeg'); 
    background-size: cover; 
    background-position: center; 
    color: #FFFFFF; 
    font-family: Arial, sans-serif; 
}

h1 {
    color: #FF0000; 
    text-align: center; 
	/* 
73 84 76 65 66 67 84 70 123 70 82 69 
69 32 80 65 76 69 83 84 73 78 69 125
*/
}
p {
    text-align: center; 
    font-size: 20px; 
}

.hidden-flag {
    display: none; 
}


/* 
A flag isn’t just a piece of cloth; it’s a symbol of freedom. 
*/

